* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #f3f4f6;
  --secondary: rgba(0, 0, 0, 0.6);
}

body {
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: radial-gradient(circle, #2c3e50, #000000);
}

#heading {
  padding: 40px 0;
  font-size: 48px;
  color: var(--primary);
}

.gallery {
  display: flex;
  padding: 0 50px;
}

.section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0px;
  gap: 1.5rem;
  object-fit: cover;
}

.img {
  width: 22%;
  height: 300px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.img:hover {
  transform: scale(1.02);
}

/* Lightbox View */
.light-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
}

.light-box.active {
  display: flex;
}

.light-box {
  width: 100%;
}

.light-box img {
  width: 100%;
  max-height: 85vh;
  border-radius: 10px;
  object-fit: contain;
}

/* Close Button */
.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.close:hover {
  color: #ff4444;
}

/* Previous Button */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 45px;
  color: white;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  transition: 0.3s;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.prev:hover,
.next:hover {
  color: #ddd;
}

@media screen and (max-width: 1279px) {
  .img {
    width: 30%;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .img {
    width: 30%;
    height: 180px;
  }
}

@media screen and (max-width: 480px) {
  .light-box.active {
    padding: 20px;
  }
  #heading {
    font-size: 34px;
    padding: 40px 10px;
  }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img {
    width: 75%;
  }
}
